<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
<head>
<style>
.photo2 {
    width: 120px; 
    height: 120px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
}
</style>
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/demo.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/normalize.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/tabs.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/tabstyles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/pe-icon-7-stroke.css}">

</head>
<body>
	<div class="newsletter" layout:fragment="content">
		<div class="container py-5">
			<section>
				<div class="py-5">
					<div class="px-5" style="float:left">
						<img class='photo2' src="/images/mong.jpg" />
					</div>
					<div>
						<h3><span sec:authentication="principal.member.nickname"></span></h3>
						<div>
							소개
						</div>
					</div>
				</div>
				<div class="tabs tabs-style-topline">
					<nav>
						<ul>
							<li><a href="#section-topline-1" class="icon pe-7s-shopbag"><span>상품</span></a></li>
							<li><a href="#section-topline-2" class="icon pe-7s-upload"><span>내 거래 요청</span></a></li>
							<li><a href="#section-topline-3" class="icon pe-7s-like"><span>찜</span></a></li>
							<li><a href="#section-topline-4" class="icon pe-7s-note"><span>후기</span></a></li>
							<li><a href="#section-topline-5" class="icon pe-7s-paper-plane"><span>쪽지</span></a></li>
							<li><a href="#section-topline-6" class="icon pe-7s-config"><span>설정</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-topline-1">
							<div class="container" id="myProducts"></div>	
						</section>
						<section id="section-topline-2">
							<div class="container" id="myRequestProducts"></div>
						</section>
						<section id="section-topline-3">
							<div class="row">
								<div class="col">
									<div class="product_grid">
										<!-- Product -->
										<div class="product" th:if="${ #lists.size(hearts) } > 0" th:each="heart : ${hearts}">
											<div class="product_image">
												<img src="/images/product_2.jpg" alt="">
											</div>
											<div class="product_content">
												<div class="product_title">
													<a href="product" th:text="${heart.name}"></a>
												</div>
												<div class="product_price"></div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
						<section id="section-topline-4">
							<div class="starRev">
							  <span class="starR1 on">별1_왼쪽</span>
							  <span class="starR2">별1_오른쪽</span>
							  <span class="starR1">별2_왼쪽</span>
							  <span class="starR2">별2_오른쪽</span>
							  <span class="starR1">별3_왼쪽</span>
							  <span class="starR2">별3_오른쪽</span>
							  <span class="starR1">별4_왼쪽</span>
							  <span class="starR2">별4_오른쪽</span>
							  <span class="starR1">별5_왼쪽</span>
							  <span class="starR2">별5_오른쪽</span>
							</div>
						</section>
						<section id="section-topline-5">
							<div class="container" id="message"></div>
						</section>
						<section id="section-topline-6"><p>6</p></section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
		</div>
		<script type="text/javascript" th:src="@{/js/react/myProducts.bundle.js}"></script>
		<script type="text/javascript" th:src="@{/js/react/myRequestProducts.bundle.js}"></script>
		<!-- <script type="text/javascript" th:src="@{/js/react/message.bundle.js}"></script> -->
	</div>
</body>
</html>