<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
<head>
<style>
.profile {
    width: 120px; 
    height: 120px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position:relative; 
    bottom: 10px;
}
.buyer_profile {
    width: 120px; 
    height: 120px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: top;
    border-radius: 50%;
    position:relative; 
    bottom: 10px;
}
</style>
<link rel="stylesheet" type="text/css" th:href="@{/styles/main_styles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/star.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/demo.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/normalize.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/tabs.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/tabstyles.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/mypage.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/pe-icon-7-stroke.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/mypage/css/flaticon.css}">

</head>
<body>
	<div class="newsletter" layout:fragment="content">
		<div class="container py-5">
			<section>
				<div class="py-5">
					<div class="px-5" style="float:left">
						 <img class="profile" th:src="'/files/profile-files/'+${member.imgFileName}" />
					</div>
					
					<div>
						<div class="row">
							<h3><span th:text="${member.nickname}"></span>의 상점</h3>
								<i class="flaticon-chat col" style="bottom:10px"></i>
						</div>
						<div id="intro_div" class="row">
							<div id="intro_view" class="col-8 row" th:text="${member.introduction}"></div>
						</div>
						<a onclick="report()"><i class="flaticon-siren" onclick="report()"></i>신고하기</a>
					</div>
				</div>
				<div class="tabs tabs-style-topline">
					<nav>
						<ul>
							<li><a href="#section-topline-1" class="icon pe-7s-shopbag"><span>상품</span></a></li>
							<li><a href="#section-topline-2" class="icon pe-7s-note"><span>후기</span></a></li>
						</ul>
					</nav>
					<div class="content-wrap">
						<section id="section-topline-1">
							<div class="container">
								<div class="product_grid">
									<div class="product col" th:if="${ #lists.size(products) } > 0" th:each="product : ${products}">
										<div class="product_image"><img th:src="'/files/product-files/'+${product.file.saveFileName}" alt=""></div>
										<div class="product_content">
											<div class="product_title">
												<a th:text="${product.name}" th:href="'/product/detail/'+${product.productNo}"></a>
											</div>
											<div class="product_price" th:text="${ #numbers.formatInteger(product.price,3,'COMMA') }+'원'"></div>
										</div>
									</div>
									<div th:unless="${ #lists.size(products) } > 0">
										<div>
											등록된 상품이없습니다.
										</div>
									</div>
								</div>
							</div>	
						</section>
						<section id="section-topline-2">
							<div class="container">
								<div class="row">
									<div class="col">
										<div th:if="${ #lists.size(reviews) } > 0" th:each="review : ${reviews}">
											<div class="px-5" style="float: left">
												<!-- <img class="buyer_profile " th:src="'/files/profile-files/'+${member.imgFileName}" /> -->
												 <img class="buyer_profile " th:src="'/files/profile-files/'+${review.imgFileName}" />
											</div>
											<div>
												<h4>
													<span th:text="${review.buyer}"></span>
												</h4>
												<div class="product_title">
													<a th:text="${review.name}"
														th:href="'/product/detail/'+${review.productNo}"></a>
												</div>
												<div class="product_price" th:text="${review.contents}"></div>
											</div>
										</div>
										<div th:unless="${ #lists.size(reviews) } > 0">
											<div class="product_content">
												등록된 후기가없습니다.
											</div>
										</div>
									</div>
								</div>
							</div>
						</section>
					</div><!-- /content -->
				</div><!-- /tabs -->
			</section>
		</div>
		<script type="text/javascript" th:src="@{/js/react/myProducts.bundle.js}"></script>
		<script type="text/javascript" th:src="@{/js/react/myRequestProducts.bundle.js}"></script>
		<!-- <script type="text/javascript" th:src="@{/js/react/message.bundle.js}"></script> -->
	    <script type="text/javascript" th:src="@{/js/socket/sockjs.min.js}"></script>
	    <script type="text/javascript" th:src="@{/js/socket/stomp.min.js}"></script>
		<script type="text/javascript" th:src="@{/js/react/myEditUserData.bundle.js}"></script>
	</div>
</body>
</html>