<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.DealMapper">

	<sql id="dealColumns">
			buyer, 
			product_no, 
			count, 
			price,
			type,
			receiver,
			phone,
			postcode,
			road_addr,
			jibun_addr,
			detail_addr,
			extra_addr
	</sql>




	<!-- Order -->
	<insert id="insertDeal" parameterType="com.gamsung.vo.Deal">
		INSERT INTO deal(
			<include refid="dealColumns"/>
		) VALUES(
			#{buyer}, 
			#{productNo}, 
			#{count}, 
			#{price},
			#{type},
			#{receiver},
			#{phone},
			#{postcode},
			#{roadAddr},
			#{jibunAddr},
			#{detailAddr},
			#{extraAddr}
		)
	</insert>
	
	<select id="selectDealsByProductNo" resultType="com.gamsung.vo.Deal">
		select deal_no, active,  <include refid="dealColumns"/>, reg_date
		from deal
		where product_no = #{productNo}
	</select>
	
	<select id="selectDealsByBuyer" resultType="com.gamsung.vo.Deal">
		select deal_no, active,  <include refid="dealColumns"/>, reg_date
		from deal
		where buyer = #{memberId}
	</select>
</mapper>
