<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.MemberMapper">

	<insert id="save">
		INSERT INTO member (
			id, 
			nickname, 
			pwd, 
			phone, 
			postcode, 
			roadAddr, 
			jibunAddr, 
			detailAddr, 
			extraAddr)
		VALUES (
			#{ id }, 
			#{ nickname }, 
			#{ pwd }, 
			#{ phone }, 
			#{ postcode }, 
			#{ roadAddr }, 
			#{ jibunAddr }, 
			#{ detailAddr }, 
			#{ extraAddr }) 
	</insert>
	
	<select id="findByUsername" parameterType="String" resultType="com.gamsung.vo.Member">
		SELECT id
		, nickname
		, pwd
		, phone
		, type
		, reg_date
		, active
		, postcode
		, roadAddr
		, jibunAddr
		, detailAddr
		, extraAddr
		, blackList
		FROM member
		WHERE id = #{ username } and active = 1
		
	</select>
	
	<select id="findMemberById" parameterType="String" resultType="com.gamsung.vo.Member">
		SELECT id
		, nickname
		, pwd
		, phone
		, type
		, reg_date
		, active
		, postcode
		, roadAddr
		, jibunAddr
		, detailAddr
		, extraAddr
		, blackList
		, img_file_name
		, introduction
		FROM member
		WHERE id = #{ id }
		
	</select>
	
	<select id="findUserList" resultType="com.gamsung.vo.Member">
		SELECT id
		, nickname
		, pwd
		, phone
		, type
		, reg_date
		, active
		, postcode
		, roadAddr
		, jibunAddr
		, detailAddr
		, extraAddr
		, blackList
		from member
	</select>
	
	<update id="deleteById" parameterType="String">
		UPDATE member
		SET active = 0
		WHERE id = #{ id }
	</update>
	
	<update id="rebackById" parameterType="String">
		UPDATE member
		SET active = 1
		WHERE id = #{ id }
	</update>
	
	<update id="activateBlackList" parameterType="String">
		UPDATE member
		SET blackList = 1, type= "ROLE_BLACKLIST"
		WHERE id = #{ id }
	</update>
	
	<update id="deactivateBlackList" parameterType="String">
		UPDATE member
		SET blackList = 0, type= "ROLE_USER"
		WHERE id = #{ id }	
	</update>
	

	<update id="Update" parameterType="com.gamsung.vo.Member">
		update member
		set 
			 nickname = #{nickname}
			,phone = #{phone}
			,postcode = #{postcode}
			,roadAddr = #{roadAddr}
			,jibunAddr = #{jibunAddr}
			,detailAddr = #{detailAddr}
			,extraAddr = #{extraAddr}
		where id = #{id}			
	</update>
	
	<update id="updateProfileImg" parameterType="com.gamsung.vo.Member">
		update member 
		set img_file_name = #{imgFileName}
		where id = #{id} 
	</update>
	
	<select id="selectProfileImgById" resultType="String" parameterType="String" >
		select img_file_name
		from member
		where id = #{id}
	</select>
	
	<update id="updateIntroduction" parameterType="com.gamsung.vo.Member">
		update member
		set introduction = #{introduction}
		where id = #{id}
	</update>
	
	<select id="selectStoreById" resultType="com.gamsung.vo.Member" parameterType="String">
		select distinct p.seller, m.img_file_name, m.introduction, m.nickname
		from product p, member m
		where p.seller = m.id
		and p.seller = #{seller}
	</select>
	
	

</mapper>