<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.ProductMapper">

	<sql id="productColumns">seller, name, contents, count, price, category, view, type</sql>



	<!-- Product -->

	<select id="selectProductByProductNo" resultType="com.gamsung.vo.Product">
		select product_no, reg_date,
		<include refid="productColumns" />
		from product where product_no = #{ productNo }
	</select>


</mapper>
