<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.ProductMapper">

	<sql id="productColumns">seller, name, contents, count, price, category, view, type</sql>

	<sql id="productFileBasicColumns">
		product_no,save_file_name, raw_file_name, flag
	</sql>


	<!-- Product -->

	<select id="selectProductByProductNo" resultType="com.gamsung.vo.Product">
		select product_no, reg_date,
		<include refid="productColumns" />
		from product where product_no = #{ productNo }
	</select>
	
	<select id="selectProducts" resultType="com.gamsung.vo.Product">
		select product_no, reg_date,
		<include refid="productColumns" />
		from product
		order by product_no desc
	</select>
	
	<insert id="insertProduct"  parameterType="com.gamsung.vo.Product"
			useGeneratedKeys="true" keyColumn="product_no" keyProperty="productNo">
		insert into product(
			seller, name, contents, count, price, category, type
		)
		values(
			#{seller},
			#{name},
			#{contents},
			#{count},
			#{price},
			#{category},
			#{type}
		)
		 
	</insert>
	

	<insert id="insertProductFile" parameterType="com.gamsung.vo.ProductFile">
		INSERT INTO productfile (
			<include refid="productFileBasicColumns"/>
		)
		VALUES (
			#{ productNo } 
	        , #{ saveFileName }
	        , #{ rawFileName }
	        , #{ flag }
		)
	</insert>	
	
	<select id="selectFileByProductNo" parameterType="int" resultType="com.gamsung.vo.ProductFile">
		select product_file_no, <include refid="productFileBasicColumns"/> 
		from productfile 
		where product_no = #{ productNo } and flag = true
	</select>
	
	<select id="selectFilesByProductNo" parameterType="int" resultType="com.gamsung.vo.ProductFile">
		select product_file_no, <include refid="productFileBasicColumns"/> 
		from productfile 
		where product_no = #{ productNo } and flag = false
	</select>
	
	
	
	<select id="selectMyProductList" resultType="com.gamsung.vo.Product" parameterType="String">
		select <include refid="productColumns" />, product_no, reg_date
		from product
		where seller = #{seller}
	</select>

	<insert id="insertHeart" parameterType="com.gamsung.vo.Heart">
		insert into heart(
			id, product_no
		)
		values(
			#{id},
			#{productNo}
		)
	</insert>
	
	<delete id="deleteHeart" parameterType="hashmap">
		delete from heart
		where id = #{id} and product_no = #{productNo}
	</delete>
	
	<select id="selectHeart" resultType="com.gamsung.vo.Heart" parameterType="hashmap">
		select id, product_no
		from heart
		where id = #{id} and product_no = #{productNo}
	</select>
	
	<select id="selectHeartCount" resultType="boolean" parameterType="hashmap">
		select count(*)
		from heart
		where id = #{id} and product_no = #{productNo}
	</select>

</mapper>

