<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.ProductMapper">

	<sql id="productColumns">seller, name, contents, count, price, category, view, type</sql>

	<sql id="productFileBasicColumns">
		product_no,save_file_name, raw_file_name, flag
	</sql>


	<!-- Product -->

	<select id="selectProductByProductNo" resultType="com.gamsung.vo.Product">
		select product_no, reg_date,
		<include refid="productColumns" />
		from product where product_no = #{ productNo }
	</select>
	<select id="selectProducts" resultType="com.gamsung.vo.Product">
		select product_no, reg_date,
		<include refid="productColumns" />
		from product
		WHERE deleted = false 
		order by product_no desc
	</select>
	
	<update id="deleteProduct" parameterType="int">
		UPDATE product
		SET DELETED = true
		WHERE product_no = #{ productNo }
	</update>
	
	<insert id="insertProduct"  parameterType="com.gamsung.vo.Product"
			useGeneratedKeys="true" keyColumn="product_no" keyProperty="productNo">
		insert into product(
			seller, name, contents, count, price, category, type
		)
		values(
			#{seller},
			#{name},
			#{contents},
			#{count},
			#{price},
			#{category},
			#{type}
		)
		 
	</insert>
	
	<update id="updateProduct" parameterType="com.gamsung.vo.Product">
		UPDATE product
		SET type = #{ type }
			,category = #{ category }
			, name = #{ name }
			, price = #{ price }
			, contents = #{ contents }
			, count = #{ count }
		WHERE product_no = #{ productNo }
	</update>
	

	<insert id="insertProductFile" parameterType="com.gamsung.vo.ProductFile">
		INSERT INTO productfile (
			<include refid="productFileBasicColumns"/>
		)
		VALUES (
			#{ productNo } 
	        , #{ saveFileName }
	        , #{ rawFileName }
	        , #{ flag }
		)
	</insert>
	
	<delete id="deleteProductFile" parameterType="int">
		delete from productfile
		where product_file_no = #{ productFileNo }
	</delete>
	
	
	<update id="updateProductFile" parameterType="com.gamsung.vo.ProductFile">
		update productfile
		set save_file_name = #{ saveFileName }
		where product_no = #{ productNo } and flag = 1
	</update>	
	
	<select id="selectProductFileByProductNo" parameterType="int" resultType="com.gamsung.vo.ProductFile">
		select product_file_no, <include refid="productFileBasicColumns"/> 
		from productfile 
		where product_no = #{ productNo } and flag = true
	</select>
	
	<select id="selectProductFilesByProductNo" parameterType="int" resultType="com.gamsung.vo.ProductFile">
		select product_file_no, <include refid="productFileBasicColumns"/> 
		from productfile 
		where product_no = #{ productNo } and flag = false
	</select>
	
	<select id="selectMyProductList" resultType="com.gamsung.vo.Product" parameterType="String">
		select <include refid="productColumns" />, product_no, reg_date
		from product
		where seller = #{seller} and deleted = false
	</select>
	
	<select id="selectMyRequestProductList" resultType="com.gamsung.vo.Product" parameterType="String">
		select seller, name, contents, d.count, d.price, category, view, d.type, p.product_no, d.reg_date
		from product p inner join deal d
		on p.product_no = d.product_no
		where buyer = #{buyer} and d.deleted = false
	</select>
	
	<update id="updateProductCount">
		update product set count = count - 1 where product_no = #{productNo}
	</update>
	
	<!-- Heart -->

	<insert id="insertHeart" parameterType="com.gamsung.vo.Heart">
		insert into heart(
			id, product_no
		)
		values(
			#{id},
			#{productNo}
		)
	</insert>
	
	<delete id="deleteHeart" parameterType="hashmap">
		delete from heart
		where id = #{id} and product_no = #{productNo}
	</delete>
	
	<select id="selectHeart" resultType="com.gamsung.vo.Heart" parameterType="hashmap">
		select id, product_no
		from heart
		where id = #{id} and product_no = #{productNo}
	</select>
	
	<select id="selectHeartCount" resultType="boolean" parameterType="hashmap">
		select count(*)
		from heart
		where id = #{id} and product_no = #{productNo}
	</select>
	
	<select id="selectMyHeartList" resultType="com.gamsung.vo.Product" parameterType="String">
		select <include refid="productColumns" />, h.product_no
		from product p, heart h
		where p.product_no = h.product_no
		and h.id = #{id}
		order by h.reg_date desc
	</select>
	
	<select id="selectHeartCountByProductNo" resultType="Integer" parameterType="int">
		select count(product_no) as cnt
		from heart
		where product_no = #{productNo}
		group by product_no;
	</select>
	
	<!-- 메인 -->
	<select id="selectMain" resultType="com.gamsung.vo.Product">
		select <include refid="productColumns" />, p.product_no, h.id, count(h.product_no)
		from product p, heart h
		where p.product_no = h.product_no
		group by h.product_no
		order by count(h.product_no) desc
		limit 0,8
	</select>
	
	<select id="list" resultType="com.gamsung.vo.Product">
		select <include refid="productColumns" />, product_no
		from product
		where deleted = 0
	
	</select>

</mapper>

