<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.ReportMapper">

	<select id="findList" resultType="com.gamsung.vo.Report">
		select report_no
		,reporter
		,user
		,title
		,contents
		,reg_date
		,confirm
		,answer
		from report
	</select>


	<insert id="insertReport"  parameterType="com.gamsung.vo.Report">
		insert into report(
			user, reporter, title, contents
		)
		values(
			#{user},
			#{reporter},
			#{title},
			#{contents}
		)
	</insert>
	
	<update id="reportAnswer" parameterType="com.gamsung.vo.Report">
		update report
		set answer = #{ answer }
		,confirm = '답변완료'
		where report_no = #{ reportNo }
	</update>

</mapper>