<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.gamsung.mapper.ReviewMapper">

<!-- <sql id="reviewFileBasicColumns">
		product_no, save_file_name, raw_file_name
	</sql>
 -->

	<!-- Review -->

	<select id="selectReviewByReviewNo" resultType="com.gamsung.vo.Review">
		select deal_no, contents, reg_date
		from review where deal_no = #{ dealNo }
	</select>
	
	<select id="selectReviewsByProductNo" parameterType="int" resultType="com.gamsung.vo.Review">
		select r.deal_no, contents, r.reg_date, d.buyer
		from review r INNER JOIN deal d
		on d.deal_no = r.deal_no
		where d.product_no = ${productNo} 
	</select>
	
	<insert id="insertReview" parameterType="com.gamsung.vo.Review">
		insert into review(
			deal_no, contents, rating
		)
		values(
			#{dealNo},
			#{contents},
			#{rating}
		)
	</insert>
	
	<insert id="insertReviewFile" parameterType="com.gamsung.vo.ReviewFile">
		INSERT INTO reviewfile (
			deal_no, save_file_name, raw_file_name
		)
		VALUES (
			  #{ dealNo } 
	        , #{ saveFileName }
	        , #{ rawFileName }
		)
	</insert>
		
	<select id="selectReview" resultType="com.gamsung.vo.Review" parameterType="string">
		select r.deal_no, r.contents, r.reg_date, d.buyer, d.product_no
		from review r INNER JOIN deal d
		on d.deal_no = r.deal_no
		where d.buyer = #{id}
	</select>
	
	<!-- <select id="selectreviewFileByProductNo" parameterType="int" resultType="com.gamsung.vo.reviewFile">
		select review_file_no, <include refid="reviewFileBasicColumns"/> 
		from reviewfile 
		where product_no = #{ productNo }
	</select> -->

	


</mapper>

