/*================================================
                    Body
  ================================================*/
.gide-body{
    margin: 0;
    background-color: antiquewhite;
}


/*================================================
                    Header
  ================================================*/
.gide {
    top: 0;
    width: 100%;
    background-color: gray;
}


.gide-nav-ul {
    /*목차 표시 없앰*/
    list-style: none;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.gide-nav-ul-li {    
    /*메뉴간 간격을 없앰*/
    float: left;
}

.gide-nav-ul-li-a {    
    /*링크 밑줄 없앰*/
    text-decoration :none;
    
    /*height 조정가능하도록*/
    display: block;
    
    padding: 10px 15px;
    line-height:  20px;
    
    color: #ffffff;
}


.gide-nav-ul-li-a:hover{ 
    color: black;
    background-color: #ffffff;   
}



/*================================================
                    Main
  ================================================*/
.gide-main {
   height: 100%;
   margin-top: 40px;
   padding: 10px 20px;
    
   color: saddlebrown;
   background-color: #ffffff;
}

