<!DOCTYPE html>
<html lang="ko" 
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	  layout:decorator="layouts/main">
<head>
<link rel="stylesheet" type="text/css" th:href="@{/styles/cart.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/cart_responsive.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/checkout.css}">
<link rel="stylesheet" type="text/css" th:href="@{/styles/checkout_responsive.css}">
</head>
<body>
	
	<div layout:fragment="content">
	<!-- Home -->

		<div class="home">
			<div class="home_container">
				<div class="home_background" style="background-image:url(/images/cart.jpg)"></div>
				<div class="home_content_container">
					<div class="container">
						<div class="row">
							<div class="col">
								<div class="home_content">
									<div class="breadcrumbs">
										<ul>
											<li><a href="/index">Home</a></li>
											<li><a href="/categories">Categories</a></li>
											<li>Shopping Cart</li>
										</ul>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		<!-- Cart Info -->
	
		<div class="cart_info">
			<div class="container">
				<div class="row">
					<div class="col">
						<!-- Column Titles -->
						<div class="cart_info_columns clearfix">
							<div class="cart_info_col cart_info_col_product">Product</div>
							<div class="cart_info_col cart_info_col_price">Price</div>
							<div class="cart_info_col cart_info_col_quantity">Quantity</div>
							<div class="cart_info_col cart_info_col_total">Total</div>
						</div>
					</div>
				</div>
				<div class="row cart_items_row">
					<div class="col">
	
						<!-- Cart Item -->
						<div class="cart_info_columns cart_item 
									d-flex flex-lg-row flex-column 
									align-items-lg-center align-items-start 
									justify-content-start">
							<!-- Name -->
							<div class="cart_item_product d-flex flex-row align-items-center justify-content-start">
								<div class="cart_item_image">
									<div><img src="/images/cart_1.jpg" alt=""></div>
								</div>
								<div class="cart_item_name_container">
									<div class="cart_item_name"><a href="#" th:text="${ product.name }"></a></div>
									<div class="cart_item_edit"><a href="#" th:text="${ product.category }"></a></div>
								</div>
							</div>
							<!-- Price -->
							<div class="cart_item_price" th:text="${ #numbers.formatInteger(product.price,3,'COMMA') } + '원'"></div>
							<!-- Quantity -->
							<div class="cart_item_quantity">
								<div class="product_quantity_container">
									<div class="product_quantity clearfix">
										<span>Qty</span>
										<input id="quantity_input" type="text" pattern="[0-9]*" value="1">
										<div class="quantity_buttons">
											<div id="quantity_inc_button" class="quantity_inc quantity_control"><i class="fa fa-chevron-up" aria-hidden="true"></i></div>
											<div id="quantity_dec_button" class="quantity_dec quantity_control"><i class="fa fa-chevron-down" aria-hidden="true"></i></div>
										</div>
									</div>
								</div>
							</div>
							<!-- Total -->
							<div class="cart_item_total" th:text="${ #numbers.formatInteger(product.price,3,'COMMA') } + '원'"></div>
						</div>
					</div>
				</div>
			</div>		
		</div>
		
		<!-- Checkout -->
		
		<div class="checkout">
			<div class="container">
				<form action="/deal/order" id="checkout_form" class="checkout_form" method="post">
					<input type="hidden" name="productNo" th:value="${ product.productNo }">
					<input type="hidden" name="buyer" th:value="${ #authentication.principal.member.id }">
					<input type="hidden" name="count" th:value="1">
					<input type="hidden" name="price" th:value="${product.price}">
					<div class="row">
						<!-- Billing Info -->
						<div class="col-lg-6">
							<div class="billing checkout_section">
								<div class="section_title">Billing Address</div>
								<div class="section_subtitle">접선지 또는 택배 수신 장소를 적어주세요.</div>
								<div class="checkout_form_container">
									<div class="row">
										<div class="col-6">
											<!-- Name -->
											<label for="receiver">Name*</label>
											<input type="text" class="checkout_input" id="name_from" 
												th:value="${#authentication.principal.member.nickname}" readonly>
										</div>
										<div class="col-6">
											<!-- Phone no -->
											<label for="phone">Phone no*</label>
											<input type="text" class="checkout_input" id="phone_from" 
												th:value="${#authentication.principal.member.phone}" readonly>
										</div>
										
										<div class="col-6">
											<!-- Zipcode -->
											<label for="postcode">Zipcode*</label>
											<input type="text" class="checkout_input" id="postCode_from" 
												th:value="${#authentication.principal.member.postcode}" readonly>
								
										</div>
										
										<div class="col-12">
											<!-- Address -->
											<label for="address">Address*</label>
											<input type="text" class="checkout_input" id="roadAddr_from" 
												th:value="${#authentication.principal.member.roadAddr}" readonly>
										</div>
										<div class="col-12">
											<input type="text" class="checkout_input checkout_address_2" id="jibunAddr_from" 
												th:value="${#authentication.principal.member.jibunAddr}" readonly>
												
										</div>
										<div class="col-6">
											<input type="text" class="checkout_input checkout_address_2" id="detailAddr_from"
												th:value="${#authentication.principal.member.detailAddr}"readonly>
										</div>
										<div class="col-6">
											<input type="text" class="checkout_input checkout_address_2" id="extraAddr_from"
												th:value="${#authentication.principal.member.extraAddr}" readonly>
										</div>
									</div>
									<hr>
									<div class="checkout_extra">
											<input type="checkbox" id="checkbox_terms" name="regular_checkbox" class="regular_checkbox" onclick="checkBuy(this)">
											<label for="checkbox_terms"><img src="/images/check.png" alt=""></label>
											<span class="checkbox_title">주문자 정보와 동일</span>
									</div>
									<div class="row">
										<div class="col-6">
											<!-- Name -->
											<label for="receiver">Name*</label>
											<input type="text" name="receiver" id="name_to" class="checkout_input" required="required">
										</div>
										<div class="col-6">
											<!-- Phone no -->
											<label for="phone">Phone no*</label>
											<input type="phone" name="phone" id="phone_to" class="checkout_input" required="required">
										</div>
										
										<div class="col-6">
											<!-- Zipcode -->
											<label for="postcode">Zipcode*</label>
											<input type="text"  name="postcode" id="postcode" class="checkout_input" required="required">
								
										</div>
										<div class="col-6">
											<label></label>
											<div class="button ml-auto" style="height: 52px;"><a href="#" class="addrBtn">주소 불러오기</a></div>
										</div>
										
										<div class="col-12">
											<!-- Address -->
											<label for="address">Address*</label>
											<input type="text" class="checkout_input" id="roadAddress" name="roadAddr" placeholder="도로명주소">
										</div>
										<div class="col-12">
											<input type="text" class="checkout_input checkout_address_2" id="jibunAddress" name="jibunAddr" placeholder="지번주소">
										</div>
										<div class="col-6">
											<input type="text" class="checkout_input checkout_address_2" id="detailAddress" name="detailAddr" placeholder="상세주소">
										</div>
										<div class="col-6">
											<input type="text" class="checkout_input checkout_address_2" id="extraAddress" name="extraAddr" placeholder="참고항목">
										</div>
									</div>
								</div>
							</div>
						</div>
		
						<!-- Order Info -->
		
						<div class="col-lg-6">
							<div class="order checkout_section">
								<div class="section_title">Your order</div>
								<div class="section_subtitle">Order details</div>
		
								<!-- Order details -->
								<div class="order_list_container">
									<div class="order_list_bar d-flex flex-row align-items-center justify-content-start">
										<div class="order_list_title">Product</div>
										<div class="order_list_value ml-auto">Total</div>
									</div>
									<ul class="order_list">
										<li class="d-flex flex-row align-items-center justify-content-start">
											<div class="order_list_title col" th:text="${product.name}"></div>
											<div class="order_list_value ml-auto" th:text="${ #numbers.formatInteger(product.price,3,'COMMA') } + '원'"></div>
										</li>
										<li class="d-flex flex-row align-items-center justify-content-start">
											<div class="order_list_title">Shipping</div>
											<div class="order_list_value ml-auto">3,000원</div>
											<!-- <div class="order_list_value ml-auto" 
												th:with="shipping='3000'" th:text="${ #numbers.formatInteger(shipping,3,'COMMA')+'원'"></div> -->
										</li>
										<li class="d-flex flex-row align-items-center justify-content-start">
											<div class="order_list_title">Total</div>
											<div class="order_list_value ml-auto" th:text="${ #numbers.formatInteger(product.price+3000,3,'COMMA') } + '원'"></div>
										</li>
									</ul>
								</div>
		
								<!-- Payment Options -->
								<div class="payment">
									<div class="payment_options">
										<label class="payment_option clearfix">직거래
											<input type="radio" name="type" value="직거래">
											<span class="checkmark"></span>
										</label>
										<label class="payment_option clearfix">택배
											<input type="radio" name="type" value="택배" checked="checked">
											<span class="checkmark"></span>
										</label>
									</div>
								</div>
		
								<!-- Order Text -->
								<div class="order_text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
								Proin pharetra temp or so dales. Phasellus sagittis auctor gravida. 
								Integ er bibendum sodales arcu id te mpus. Ut consectetur lacus.</div>
								
								<div class="button order_button"><a onclick="$('#checkout_form').submit();">Place Order</a></div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</body>
</html>